.carousel-inner {
    height:361px;
    width:80%;
    margin: 2px 2px 2px 2px;
}



h2 {
    margin-top: 70px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-right:35px;
}

#omg-deals {
    margin-top: 2%;
}

#omg-deals div {
    width: 98%;
    margin: auto;
}

#omg-deals>div>img {
    min-width: 136px;
    margin-right: 10px;
    height: 220px;
    margin-bottom: 20px;
    margin-top:38px;
    cursor: pointer;
}

#myn-brand {
    margin-top: 2%;

}

#myn-brand div {
    width: 98%;
    margin: auto;
     
}

#myn-brand>div>img {
    min-width: 136px;
    margin-right: 10px;
    height: 220px;
    margin-bottom: 20px;
    margin-top:38px;
    cursor: pointer;
}
